<%= content_for :head_script_connect4 do %>
  <%= javascript_import_module_tag "connect4" %>
<% end %>

<h1 id="connect4-heading"> Connect4 </h1>

  <main> <div class="scoreboard-container">
    <div>
      <h3 class="red-text"> Red Player: <span id="red-player"> <%= params[:usernameRedPlayer]%> </span></h3>
      <h3 class="red-text"><%= params[:usernameRedPlayer]%>'s <span id="red-score">Score: 0 </h3>
    </div>

    <div>
      <h3 class="yellow-text"> Yellow Player: <span id="yellow-player"><%= params[:usernameYellowPlayer] %> </span> </h3>
      <h3 class="yellow-text"> <%= params[:usernameYellowPlayer]%>'s <span id="yellow-score">Score: 0 </span> </h3>
    </div>
  </div>

  <div class="middle-div">
      <div id="number-of-rounds" data-rounds="<%= params[:rounds] %>"></div>
      <h2 id="round-header"> Welcome! </h2>
      <h2 id="winner"> </h2> <%# this is also used for indicating whose turn it is. %>
      <span id="connect4-button-div"> </span> 
  </div>

  <div class="board-container"> 
      <div id="board"><div>
  </div>
</main>

