<div class="back-button"> 
  <%= link_to "Back", "/", class: "decor-button button-shadow" %> 
</div>

<h1> List of Players </h1>

<main>
  <table class="table">
    <caption class="table-caption"> Information about all players: </caption>
    <thead>
      <tr>
        <th scope="col">Count </th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">User's Highest Score</th>
      </tr>
    </thead>
    <tbody>
    <% count = 0%>
    <% @users.each do |user| %>
    <% count += 1%>
      <tr>
        <td> <%= count %> </td>
        <td><%= user.name %> </td>
        <td><%= user.username %> </td>
        <td> <%= user.highest_score %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</main>