<%# Create or edit user account  %>
<%# Note: that update path (rather than create) is followed automatically by resources. 
It knows we are updating because we call edit path beforehand. %>

<%= form_with model: user do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% user.errors.full_messages_for(:name).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>

  <br> <br>

  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    <% user.errors.full_messages_for(:username).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
  </div>

  <br> <br>

  <div>
   <%= form.label :password %><br>
    <%= form.text_field :password %>
    <% user.errors.full_messages_for(:password).each do |message| %>
            <div> <%= message %> </div>
      <% end %>
  </div>

<br> <br>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>