<h1> Your Profile: <%= @user.name %> </h1>

<h3> Username: <%= @user.username%> </h3>
<% @user.scores.each do |score| %>
    <p> Score: <%= score.score %> </p>
    <p> Date-Time: <%= score.created_at %> </p>
    <br>
<% end %>


<ul>
    <li> <%= link_to "Edit", edit_user_path(@user) %> </li>
    <li> <%= link_to "Destroy", user_path(@user), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %> </li>
</ul>

