<% if flash[:notice] %>
    <div class="flash-notice"> <%= flash[:notice] %> </div> 
<%elsif flash[:alert]%>
    <div class="flash-alert"><%= flash[:alert] %> </div>
<% end%>

<br>

<h1> Your Profile: <%= @user.name %> </h1>

<h3> Username: <%= @user.username%> </h3>

<% if @data.any? %>

    <% @data.each do |score| %>
        <p> <strong> Score:</strong> <%= score.score %> </p>
        <p> <strong> Date-Time: </strong> <%= score.created_at %> </p>
        <br>
    <% end %>

<% else %>
    <p>No scores found for this user.</p>
<% end %>

    <%# edit_user_path is the standard path set by resources :users %>
    <%= link_to "Edit", edit_user_path(@user.id) %> 

    <%# user_path points to route -> delete '/users/:id', to: 'users#destroy' %>
    <%= link_to "Delete", user_path(@user), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %> 
    

<%= link_to "Back", "/" %>
