<div class="profile-nav-container">
    <%# <div class="flash-messages-container"> %>
        <% if flash[:notice] %>
            <div class="flash-notice">
                <span> <%= flash[:notice] %> </span> 
            </div> 
        <%elsif flash[:alert]%>
            <div class="flash-alert">
                <span> <%= flash[:alert] %> </span>
            </div>
        <% end %>
    <%# </div> %>
 
    <div class="profile-links-nav">
        <%= link_to "Home", "/", class: "decor-button button-shadow left-link" %> 
        <%# edit_user_path is the standard path set by resources :users %>
        <div class="right-links-container">
            <%= link_to "Edit", edit_user_path(@user.id), class: "decor-button2 button-shadow" %> 

            <%# user_path points to route -> delete '/users/:id', to: 'users#destroy' %>
            <%= link_to "Delete", user_path(@user), class: "decor-button2 button-shadow", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %> 

            <%= link_to "Back", "/authenticate", class: "decor-button2 button-shadow" %>
        </div>
    </div>
</div>

<h1> Your Profile: <%= @user.name %> </h1>
<h3 class="profile-username-and-message"> Username: <u><%= @user.username%></u> </h3>

<main>
    <div>
        <% if @data.any? %>
            <div class="scores-container">
                <% @data.each do |score| %>
                    <div class="score-item">
                        <p> <strong> Score:</strong> <%= score.score %> </p>
                        <p> <strong> Date-Time: </strong> <%= score.created_at %> </p>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p class="profile-username-and-message">No scores found for this user.</p>
        <% end %>
    </div>
</main>
