<div class="back-button"> 
  <%= link_to "Back", "/", class: "decor-button button-shadow" %> 
</div>

<h1> Scoreboard </h1> 

<main>
  <table class="table">
    <caption class="table-caption"> Top 10 players with the highest scores: </caption>
    <thead>
      <tr>
      <th scope=""col>Position</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Score</th>
        <th scope="col">Date and Time</th>
      </tr>
    </thead>
    <tbody>
      <% count = 0%>
      <% @users.each do |user| %>
        <tr>
          <% count += 1%>
          <td><%= count %></td>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= user.highest_score %></td>
          <td><%= user.datetime %> </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</main>